#main-dashboard-container {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}
.check {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height:auto;
}

#admin-label {
    color:#fff;
    font-size:32px;
    font-weight:300;
    margin-top:20px;
}

#dashboard-casing {
    display: flex;
    width: 90%;
    border: 2px solid #fff;
    /* background-color: #fff; */
    opacity:50%;
    box-shadow:#fff;
    margin-bottom:10px;
}

.sidebar {
    width:100%;
}

#mobile-new-property {
    display:none;
}
#mobile-new-property i {
    color:#000;
}

#logout-btn {
    color:#000;
    background-color: #fff;
}

h1 {
    color: #fff;
}

@media screen and (max-width:769px) {
    #dashboard-casing {
        width: 100%;
        height:100vh;
    }
    
    #mobile-new-property {
        display:block;
        /* border:2px solid red; */
    }

    #mobile-new-property i {
        font-size:25px;
        cursor: pointer;
        margin: 20px;
    }

    #logout-btn {
        color:#000;
        background-color: #fff;
    }

    .sidebar {
        display: none; 
      }
      
      #side-bar-clicked {
        display: block; 
        position: absolute; 
        z-index: 1; 
        width: 50%; 
        background-color: #fff; 
      }
      
      #mobile-new-property {
        display: block;
      }

    .dash-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        height: auto;
        border: 2px solid #fff;
    }

    .d-card {
        background-color: #ec8352;
        border-radius:20px;
        width:70%;
        height: fit-content;
        padding: 5px 10px;
        color: #fff;
    }

    .d-card-details {
        display:flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        margin-top: 5px;
    }

    .d-card-details p {
        color:#000;
        font-size: 0.8rem;
        font-weight: 700;
    }

    .d-card-details h2 {
        font-size: 2.0rem;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        width:30px;
        height:30px;
        border: 2px solid #000;
    }

    .icon-container img {
        width: 15px;
        height: 15px;
        color: #fff;
    }
    
}