#main-dashboard-container {
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}

#admin-label {
    color:#fff;
    font-size:32px;
    font-weight:300;
    margin-top:20px;
}

#dashboard-casing {
    display: flex;
    width: 90%;
    background-color: #fff;
    opacity:50%;
    box-shadow:#fff;
    margin-bottom:10px;
}

.sidebar {
    width:100%;
}

#mobile-new-property {
    display:none;
}
#mobile-new-property i {
    color:#000;
}

@media screen and (max-width:769px) {
    #dashboard-casing {
        width: 100%;
        height:100vh;
    }
    
    #mobile-new-property {
        display:block;
        /* border:2px solid red; */
    }

    #mobile-new-property i {
        font-size:25px;
        cursor: pointer;
        margin: 20px;
    }


    
}