#main-container {
    display:flex;
    flex-direction: column;
    background-color: #060221;
    width:100%;
    /* height:120vh;     */
}
#main-form-container {
    display:flex;    
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    height:80vh;
}

#beside-form {
    background-color: rgba(255, 153, 1, 0.955);
    width:40%;
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#form-container {
    position:relative;
    width: 40%;
    height: 60vh;
    display:flex;
    background-color: #fff;
    border-radius:0px;
    align-items:center;
    justify-content:center;
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: auto;
    color: #000;
    font-size:20px;
}

#form-container > h2 {
    margin: 20px;
    color: #000;        
}
label{
    display:block;
    font-size:16px;
    width: 90%;
}
#email-txt, #password-txt {
    display:block;
    margin:5px 0;
    font-size:14px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
}

#login-btn {
    background-color: #ccc;
    padding: 3px 10px;
    border-radius: 8px;
    margin: 0 0 5px 0;
    font-size: 20px;
}
  
#login-btn:hover {
    background-color: #ddd;
    cursor: pointer;
}

#s-m-container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

#core-values{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
}
#core-values h3 {
    color: #fff;
    font-size: 24px;   
}

#core-values article {
    font-size:14px;
    width:200px;
    margin-top: 10px;    
}
#linkedin, #twitter, #facebook {
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(39, 37, 37);
    margin: 5px;
}

#linkedin i, #twitter i, #facebook i {
    font-size:35px;
    color: #fff;
}


@media screen and (max-width:769px) {
    #main-container {
        display:flex;
        flex-direction: column;
        background-color: #060221;
        width:100%;
        height:120vh;
    }
    #main-form-container {
        display:flex;        
        justify-content: center;
        align-items: center;
    }

    #form-container {
        position:relative;
        width: 70%;
        display:flex;
        border-radius:15px;
        align-items:center;
        justify-content:center;
    }

    #login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: auto;
        color: #000;
        font-size:20px;
    }

    #form-container > h2 {
        margin: 20px;
        color: #000;        
    }
    label{
        display:block;
        font-size:16px;
        width: 90%;
    }
    #email, #password {
        display:block;
        margin:10px 0;
        font-size:14px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        width: 90%;
    }

    #login-btn {
        padding:5px;
        border-radius:8px;
        margin: 0;
        font-size:20px;
    }

    #login-btn:hover {
        background-color: aqua;
    }

    #beside-form {
        display: none;
    }
}