#cards-container {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
#pagination-menu {
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  width:100%;  
  border: 1px solid #fff;
}

.pagination-number {
  color: #000;
  background-color:#fff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 2px;
}
.pagination-number:hover {
  background-color:#17cf97;
  color: #fff;
}
@media screen and (max-width:769px) {
  #cards-container {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}