.rsn--container--1,
.rsn--container--2,
.rsn--container--3 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:20px;
}
#a-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    background-color: #d8d4d4; 
}
.rsn--container--icon {
    height:50px;
    width:50px;
    margin-top: 20px;
}
h3 {
    font-size:16px;
    font-weight:700px;
    color: #000000;
    margin: 10px 0;
}
article {
    position:relative;
    width: 250px;
    color:#000000;
    text-align:center;
    font-size:16px;
    font-weight:400;
    letter-spacing: 0.09em;
    margin-bottom: 20px;
}

.testi--container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#000;
    margin:10px;
    color:#ffffff;
    margin:20px 0;
    width:100%;
}

.image--placeholder {
    border-radius:50%;
    width:150px;
    height:150px;
    background-color:#3a3535;    
    position:relative;    
    box-shadow: 0 0 0 10px black;
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.customer--headshot {
    width:130px;
    height:130px;
    border-radius:50%;
    position:absolute;
    
}

.testi-subtitle {
    margin:5px;
    color: #ffffff;
}

.testi-article {
    margin:15px;
    color: #ffffff;
}

.client--name {
    font-size:13px;
    color: #5CFFFF;
    font-weight:700;
    margin: 5px;
}

@media screen and (max-width:769px) {
    #a-container {
        width: 100%;
        justify-content: center;
    }
}
