/* .main-container {
    display: grid;
    grid-template-columns: 20% 80%;    
    border: 2px solid red;
    width: 100%;
} */

#side-bar {
    float: left;
    width: 20%; 
    display:flex;
    flex-direction:column;
    border: 2px solid red;
}

#rightPane {
    float: right;
    width: 80%; 
    border: 2px solid red;
}

#side-bar input {
    margin-bottom: 20px;
    /* color:#fff; */
}