#main-profile-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
}

#main-profile-container h1 {
    color: #fff;
    text-align: left;
}

#user-banner {
    width:100%;
    height:50vh;
    background-color:#fff;
    /* border: 2px solid red; */
}

#user-banner img {
    width:100%;
    /* height:auto; */
}

#profile-picture {
    border: 4px solid red;
    border-radius: 50%;
    width: 150px; 
    height: 150px;  
    position: absolute;
    margin:20px 0 0 20px;
}

#banner-container {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;    
    flex-direction: row;
}

#user-info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

#user-details h2 {
    padding: 30px;
}

#user-details {
    display: flex;
    width: 80%;
    flex-direction: column;
    color: #fff;
    justify-content: space-between;
    margin:50px 0;
}

#user-details p {
    padding:10px 0;
}