.rsn--container--1,
.rsn--container--2,
.rsn--container--3 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:20px;
    position: relative;
}
/* .a-container {
    display:flex;
} */
.rsn--container--icon {
    height:50px;
    width:50px;
}
h3 {
    font-size:16px;
    font-weight:700px;
    color: #000000;
}
article {
    position:relative;
    width: 250px;
    color:#000000;
    text-align:center;
    font-size:16px;
    font-weight:400;
    letter-spacing: 0.09em;
}

.rsn--container--1 {
    flex: 1;
    margin-top:60px;
}
.rsn--container--3 {
    margin-top:50px;    
}

.rsn--container--1:first-child {
    margin-right: 60px;
}

.testimonials {
    background-color: #060606F5;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height:75vh;
}

.testi--container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:900px;
    /* border:2px solid red; */
    margin:10px;
    /* height:65vh; */
    color:#ffffff;
}

.image--placeholder {
    border-radius:50%;
    width:150px;
    height:150px;
    background-color:#3a3535;    
    position:relative;    
    box-shadow: 0 0 0 10px black;
    margin-top:10px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.customer--headshot {
    width:130px;
    height:130px;
    border-radius:50%;
    position:absolute;
    
}

.testi-subtitle {
    margin:5px;
    color: #ffffff;
}

.testi-article {
    margin:15px;
    color: #ffffff;
}

.client--name {
    font-size:13px;
    color: #5CFFFF;
    font-weight:700;
    margin: 5px;
}

.become--agent {
    background-color:#5CFFFF;
    width:100%;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:0;
    color:#000000;
    font-weight:700;
}

.become--agent > h2,p {
    /* border:2px solid red; */
    margin:0;
}

.become--agent > button {
    background-color: red;
    padding:10px 25px;
    border-radius: 20px;
    color:#ffffff;
    margin-top:20px;
}

@media (max-width:640px) {
    .rsn--container {
        display: flex;
        flex-direction:column;
        border: 2px solid red;
    }
}